class.doc=@io.swagger.annotations.Api#tags
api.tag=#tag
api.method.parse.before[#tag]=groovy:```
    localStorage.set("tag",it.doc("tag"))
```
api.method.parse.after[#tag]=groovy:```
    localStorage.remove("tag")
```
export.after=groovy:```
def tag = localStorage.get("tag")
if(tag==null){
    return
}
def url = api.path()
if(url.contains("?")){
    url = url +"&version=" + tag
}else{
    url = url +"?version=" + tag
}
api.setPath(url)

def name = api.name()
name = name +"-"+ tag
api.setName(name)
```
